@import "../../../../variables";

.calendar {
  background-color: $calendar-bg-color;
  padding: 2px 0 0;
  width: 100%;
  max-width: 468px;
  margin: 10% auto;
  border-radius: 4px;
  z-index: 20;
  &__wrapper {
    position: relative;
    margin-bottom: 17px;
  }
  &__input-wrapper {
    width: 212px;
    position: relative;
    height: 36px;
    cursor: pointer;
  }
  &__input {
    width: 210px;
    height: 100%;
    outline: none;
    border: 2px solid #dddddd;
    border-radius: 2px;
    padding: 0 12px;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    color: #101820;
    cursor: pointer;
    box-sizing: border-box;
    &:focus, &:active {
      border-color: #007672;
    }
  }
  &__navs {
    background-color: $calendar-bg-color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  &__nav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: $second-bg-color;
    &[disabled]{
      color: transparent;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  &__month-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $second-bg-color;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    span {
      line-height: 1;
    }
  }
  &__year-nav {
    height: 100%;
    font-size: 10px;
    padding: 3px 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $second-bg-color;
    font-family: OpenSans, sans-serif;
  }
  &__day-names {
    text-align: center;
    font: normal normal medium 20px/24px Rubik;
    letter-spacing: 0;
    color: $second-bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #272829;
    border-top: 1px solid $second-bg-color;
    border-bottom: 1px solid $second-bg-color;
    padding: 0 10px;
  }
  &__day-name {
    color: $second-bg-color;
    text-align: center;
    font: normal normal medium 20px/24px Rubik;
    letter-spacing: 0;
    padding: 16px 0;
  }
  &__weeks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #272829;
  }
  &__week {
    display: flex;
    flex-direction: row;
  }
  &__date, &__day-name {
    text-align: center;
    padding: 16px 0;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__date {
    height: 51px;
    position: relative;
    margin: 7px;
    &:after {
      content: '';
      height: 52px;
      width: 52px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 1s;
      z-index: 1;
    }
    &:hover {
      cursor: pointer;
      color: $calendar-bg-color;
      &:after {
        background-color: $hover-color;
        box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.08);
        opacity: .6;
      }
    }
    &.disabled {
      pointer-events: none;
      .calendar__number {
        color: $nav-links-color;
      }
    }
    &.selected {
      color: $calendar-bg-color;
      &:after {
        background-color: $hover-color;
        box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.18);
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      .calendar__number {
        color: $calendar-bg-color;
      }
    }
    &.today {
      font-weight: bold;
    }
  }
  &__number {
    z-index: 10;
    text-align: center;
    font: normal normal medium 16px/19px Rubik;
    letter-spacing: 0;
    color: $text-color;
  }
}
