<div class="main-wrap">
  <app-header></app-header>

  <div class="row">
    <div class="col-md-7 no-padding">
      <div class="banner">
        <img src="../.././../assets/images/bg.jpg" alt="">
        <div class="block-text">
          <h1>Choose the day <br> for the meeting</h1>
          <p>We encourage you to book your <br> appointment online. <br> This will save you time.</p>
        </div>
      </div>
    </div>
    <div class="col-md-5 calendar-block no-padding">
      <app-daily-section></app-daily-section>
    </div>
  </div>
</div>
