@import "../../../variables";

.banner {
  position: relative;
  height: 100vh;
  img {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
  .block-text {
    margin-right: 32px;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 30%;
  }
  h1 {
    color: $hover-color;
    text-align: right;
    font: normal normal 500 50px/64px Rubik;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    margin-bottom: 44px;
  }
  p {
    text-align: right;
    font: normal normal 300 30px/40px Rubik;
    letter-spacing: 0.6px;
    color: $text-color ;
  }
}

.calendar-block {
  background-color: $calendar-bg-color;
}

@media (max-width: 1700px) {
  .banner .block-text {
    top: 25%;
  }
}

@media (max-width: 1399px) {
  .banner {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 1025px) {

  .banner .block-text {
    top: 16%;
    h1 {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

@media (max-width: 767px) {
  .banner {
    background: url("../../../assets/images/bg.jpg") no-repeat center/cover;
    height: unset;
    padding: 50px 0;
    .block-text {
      position: relative;
      h1 {
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 15px;
      }
      p {
        font-size: 15px;
        line-height: 20px;
      }
    }
    img {
      display: none;
    }
  }
}
